@page
@inject IConfiguration _config;
@using Cms.Endpoints.AdminPanel.Pages.Common
@model Cms.Endpoints.AdminPanel.Pages.Asnad.ListModel
@{
}
@{
    ViewData["Title"] = "گنجینه اسناد - لیست";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
}

@section PageScripts {
    <script src="~/js/app-ecommerce-order-list.dist.js"></script>
}

@* ************** Content ************** *@

<h4 class="py-3 mb-4"><span class="text-muted fw-light">گنجینه اسناد /</span> لیست آیتم ها</h4>

<!-- Collapse -->
<h5>گنجینه اسناد</h5>
<div class="row">
    <div class="col-12">


        <p class="demo-inline-spacing">
            <button class="btn btn-primary me-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                نمایش آیتم ها
            </button>
        </p>
        @for (int i = 1; i <= _config.GetSection("Asnad").GetChildren().ToList().Count; i++)
        {
            long newsTypeId = @Convert.ToInt32(_config.GetSection("Asnad")[$"item{i}"]);

            <div class="col-12">
                <div class="card mb-4">
                    <h5 class="card-header">@Model.NewsTypes.FirstOrDefault(t => t.Id == newsTypeId).Title</h5>
                    <div class="card-body">
                        <div class="collapse" id="collapseExample">
                            <a href="/Asnad/Create?typeId=@newsTypeId" class="btn btn-success m-3">
                                ایجاد آیتم جدید
                            </a>
                            <div class="card-datatable table-responsive">
                                <table class=" table border-top">
                                    <thead>
                                        <tr>
                                            <th>سند</th>                                            
                                            <th>ایجاد کننده</th>
                                            <th>وضعیت</th>
                                            <th>نوع آیتم</th>
                                            <th>تاریخ سند</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tbody>
                                            @foreach (var asnad in Model.AsnadList.Where(t => t.NewsTypeId == newsTypeId))
                                            {
                                            <tr class="odd">
                                                <td class="  control" tabindex="0" style="display: none;"></td>

                                                <td>
                                                    <a href="/asnad/details/@asnad.Id">
                                                        <span>#@asnad.Id</span>
                                                    </a>
                                                </td>

                                                <td>
                                                    <div class="d-flex justify-content-start align-items-center order-name text-nowrap">
                                                        <div class="avatar-wrapper">
                                                            <div class="avatar me-3">
                                                                <span class="avatar-initial rounded-circle bg-label-danger">@asnad.Author.Substring(0, 2)</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <h6 class="m-0">
                                                                <a href="/Pages/Profile/User" class="text-body">@asnad.Author</a>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td>
                                                        @if (asnad.IsEnable)
                                                        {
                                                        <h6 class="mb-0 align-items-center d-flex w-px-100 text-success">
                                                            <i class="ti ti-circle-filled fs-tiny me-2">

                                                            </i>
                                                            فعال
                                                        </h6>
                                                        }
                                                        else
                                                        {
                                                        <h6 class="mb-0 align-items-center d-flex w-px-100 text-warning">
                                                            <i class="ti ti-circle-filled fs-tiny me-2">

                                                            </i>
                                                            غیرفعال
                                                        </h6>
                                                        }
                                                </td>

                                                <td>
                                                    <span class="badge px-2 bg-label-primary" text-capitalized="">@asnad.NewsType.Title</span>
                                                </td>

                                                <td class="sorting_1"><span class="text-nowrap">@asnad.PublishDate</span></td>

                                                <td>
                                                    <div class="d-flex justify-content-sm-center align-items-sm-center">
                                                        <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                            <i class="ti ti-dots-vertical">

                                                            </i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-end m-0">
                                                            <a href="/asnad/details/@asnad.Id" class="dropdown-item">مشاهده</a>
                                                                @if (asnad.IsEnable)
                                                                {
                                                                <a href="/News/ChangeAvailibility/@asnad.Id?redirectTo=/aboutus/list" class="dropdown-item delete-record">غیرفعال کردن</a>
                                                                }
                                                                else
                                                                {
                                                                <a href="/News/ChangeAvailibility/@asnad.Id?redirectTo=/aboutus/list" class="dropdown-item delete-record">فعال کردن</a>
                                                                }
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
