@page
@using Cms.Endpoints.AdminPanel.Pages.Common
@model Cms.Endpoints.AdminPanel.Pages.News.ListModel

@{
    ViewData["Title"] = "اخبار - لیست اخبار";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
}

@section PageScripts {
    <script src="~/js/app-ecommerce-order-list.dist.js"></script>
}

@* ************** Content ************** *@

<h4 class="py-3 mb-2">
    <span class="text-muted fw-light">اخبار /</span> لیست خبر ها
</h4>

<!-- Order List Widget -->

<div class="card mb-4">
    <div class="card-widget-separator-wrapper">
        <div class="card-body card-widget-separator">
            <div class="row gy-4 gy-sm-1">
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-3 pb-sm-0">
                        <div>
                            <h4 class="mb-2">@ViewData["newsCount"]</h4>
                            <p class="mb-0 fw-medium">اخبار</p>
                        </div>
                        <span class="avatar me-sm-4">
                            <span class="avatar-initial bg-label-secondary rounded">
                                <i class="ti-md ti ti-calendar-stats text-body"></i>
                            </span>
                        </span>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none me-4">
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-3 pb-sm-0">
                        <div>
                            <h4 class="mb-2">@ViewData["notificationCount"]</h4>
                            <p class="mb-0 fw-medium">اطلاعیه ها</p>
                        </div>
                        <span class="avatar p-2 me-lg-4">
                            <span class="avatar-initial bg-label-secondary rounded"><i class="ti-md ti ti-checks text-body"></i></span>
                        </span>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none">
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-3">
                        <div>
                            <h4 class="mb-2">@ViewData["eventCount"]</h4>
                            <p class="mb-0 fw-medium">رویداد ها</p>
                        </div>
                        <span class="avatar p-2 me-sm-4">
                            <span class="avatar-initial bg-label-secondary rounded"><i class="ti-md ti ti-wallet text-body"></i></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="mb-2">@ViewData["disableNews"]</h4>
                            <p class="mb-0 fw-medium">اخبار غیرفعال</p>
                        </div>
                        <span class="avatar p-2">
                            <span class="avatar-initial bg-label-secondary rounded"><i class="ti-md ti ti-alert-octagon text-body"></i></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Order List Table -->
<div class="card">
    <div class="card-header border-bottom">
        <form method="get">
            <h5 class="card-title mb-3">Search Filter</h5>
            <div class="d-flex justify-content-around align-items-center row pb-2 gap-3 gap-md-0">
                <div class="col-md-4 user_role">
                    <input type="text" class="text-capitalize form-control" name="searchText" value="@HttpContext.Request.Query["searchText"].ToString()" placeholder="Search..." />
                </div>
                <div class="col-md-2 user_role">
                    <label class="float-end">مرتب سازی بر اساس : </label>
                </div>
                <div class="col-md-2 user_role">
                    <select id="UserRole" name="orderBy" class="form-select text-capitalize">
                        <option selected value="0">همه</option>                        

                        <option value="1">آیدی</option>
                        <option value="2">نام نویسنده</option>
                        <option value="3">عنوان</option>
                        <option value="4">نوع خبر</option>
                     
                    </select>
                </div>
                <div class="col-md-1 user_role">
                    <label class="float-end">نوع خبر : </label>
                </div>
                <div class="col-md-2 user_role">
                    <select id="UserRole" name="typeId" class="form-select text-capitalize">
                        <option selected value="0">همه</option>
                        @foreach (var type in Model.NewsTypes)
                        {
                            if (HttpContext.Request.Query["typeId"].ToString() == type.Id.ToString())
                            {
                                <option selected value="@type.Id">@type.Title</option>
                            }
                            else
                            {
                                <option value="@type.Id">@type.Title</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-success align-content-center">جستجو</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-datatable table-responsive">
        <table class=" table ">
            <thead>
                <tr>
                    <th>خبر</th>
                    <th>عنوان</th>
                    <th>نویسنده</th>
                    <th>وضعیت</th>
                    <th>نوع خبر</th>
                    <th>تاریخ انتشار</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                    @foreach (var news in Model.NewsList.QueryResult)
                    {
                    <tr>
                        <td class="  control" tabindex="0" style="display: none;"></td>

                        <td>
                            <a href="/news/details/@news.Id">
                                <span>#@news.Id</span>
                            </a>
                        </td>

                            @if (news.Title.Length < 25)
                            {
                            <td>@news.Title</td>
                            }
                            else
                            {
                            <td>@news.Title.Substring(0, 23)....</td>
                            }

                        <td>
                            <div class="d-flex justify-content-start align-items-center order-name text-nowrap">
                                <div class="avatar-wrapper">
                                    <div class="avatar me-3">
                                        <span class="avatar-initial rounded-circle bg-label-danger">@news.Author.Substring(0, 2)</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h6 class="m-0">
                                        <a href="/Pages/Profile/User" class="text-body">@news.Author</a>
                                    </h6>
                                </div>
                            </div>
                        </td>

                        <td>
                                @if (news.IsEnable)
                                {
                                <h6 class="mb-0 align-items-center d-flex w-px-100 text-success">
                                    <i class="ti ti-circle-filled fs-tiny me-2">

                                    </i>
                                    فعال
                                </h6>
                                }
                                else
                                {
                                <h6 class="mb-0 align-items-center d-flex w-px-100 text-warning">
                                    <i class="ti ti-circle-filled fs-tiny me-2">

                                    </i>
                                    غیرفعال
                                </h6>
                                }
                        </td>

                        <td>
                            <span class="badge px-2 bg-label-primary" text-capitalized="">@news.NewsType.Title</span>
                        </td>

                        <td class="sorting_1"><span class="text-nowrap">@news.PublishDate</span></td>

                        <td>
                            <div class="d-flex justify-content-sm-center align-items-sm-center">
                                <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="ti ti-dots-vertical">

                                    </i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end m-0">
                                    <a href="/news/details/@news.Id" class="dropdown-item">مشاهده</a>
                                        @if (news.IsEnable)
                                        {
                                        <a href="/News/ChangeAvailibility/@news.Id?redirectTo=/news/list" class="dropdown-item delete-record">غیرفعال کردن</a>
                                        }
                                        else
                                        {
                                        <a href="/News/ChangeAvailibility/@news.Id?redirectTo=/news/list" class="dropdown-item delete-record">فعال کردن</a>
                                        }
                                </div>
                            </div>
                        </td>                        
                    </tr>                                        
                    }
            </tbody>
        </table>
        <hr class="p-2" />
        <nav aria-label="Page navigation" class="d-flex align-items-center justify-content-center">
            @{
                int currentPageNumber = 1;
                bool success = int.TryParse(HttpContext.Request.Query["pageNumber"].ToString(), out currentPageNumber);
                if (!success) currentPageNumber = 1;
                string searchText = HttpContext.Request.Query["searchText"].ToString();
                int typeId = 0;
                success = int.TryParse(HttpContext.Request.Query["typeId"].ToString(), out typeId);
                if (!success) typeId = 0;
            }
            <ul class="pagination">
                <li class="page-item prev">
                    <a class="page-link" asp-page="list" asp-route-searchText="@searchText" asp-route-typeId="@typeId" asp-route-pageNumber="@((currentPageNumber>1)?$"{currentPageNumber-1}":$"{currentPageNumber}")"><i class="ti ti-chevron-left ti-xs scaleX-n1-rtl"></i></a>
                </li>
                @for (int i = 1; i <= Model.NewsList.calculatePageCount(); i++)
                {
                    @if (HttpContext.Request.Query["pageNumber"].ToString() == "" && i == 1)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-page="list" asp-route-pageNumber="@i">1</a>
                        </li>

                        continue;
                    }
                    <li class="page-item @((HttpContext.Request.Query["pageNumber"].ToString()==i.ToString())?"active":"")">
                        <a class="page-link" asp-page="list" asp-route-pageNumber="@i">@i</a>
                    </li>
                }
                <li class="page-item next">
                    <a class="page-link" asp-page="list" asp-route-searchText="@searchText" asp-route-typeId="@typeId" asp-route-pageNumber="@((Model.NewsList.calculatePageCount()>currentPageNumber)?$"{currentPageNumber+1}":$"{currentPageNumber}")"><i class="ti ti-chevron-right ti-xs scaleX-n1-rtl"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
