@page
@model Cms.Clients.AdminPanel.Pages.News.EditModel
@inject IConfiguration _config;
@{
    ViewBag.Title = "ویرایش خبر";
    ViewBag.Page = "ویرایش خبر";
}

<form enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="News.Id" />
    <input type="hidden" asp-for="News.MainImageName" />
    <input type="hidden" asp-for="News.SecondImage" />
    <input type="hidden" asp-for="News.ThirdImage" />
    <input type="hidden" asp-for="News.PublishDate" />

    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">ویرایش خبر</h3>
        </div>
        <div class="col-md-12 mb-lg-0 mb-4">
            <div class="card mt-4">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <label>عنوان : </label>
                                <input type="text" class="form-control" asp-for="News.Title" />
                            </div>
                        </div>
                        <div class="col-md-6 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg">
                                <label>مقدمه : </label>
                                <input type="text" class="form-control" asp-for="News.Introduction" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <label>نوع خبر : </label>
                                <select class="form-control" asp-for="News.NewsTypeId">
                                    <option hidden selected>نوع خبر را انتخاب کنید</option>
                                    @foreach (var newsType in Model.NewsTypes)
                                    {
                                        <option value="@newsType.Id">@newsType.Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <label>زبان : </label>
                                <select class="form-control" asp-for="News.LanguageId">
                                    <option hidden selected>زبان مورد نظر را انتخاب کنید</option>
                                    @foreach (var language in Model.Languages)
                                    {
                                        <option value="@language.Id">@language.Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <label>متن : </label>

                                <div class="col-md-12">
                                    <div class="card card-info ">
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="mb-3 mt-3">
                                                <textarea id="editor1" asp-for="News.Text" style="width: 100%">لطفا متن مورد نظر خودتان را وارد کنید</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card -->

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <label>وضعیت : </label>
                                <select class="form-control" asp-for="News.IsEnable">
                                    <option value="@true">فعال</option>
                                    <option value="@false">غیر فعال</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">                            
                                <label for="exampleInputFile">تصویر اصلی خبر <span class="text-danger">*</span> </label>
                                <div class="input-group">
                                    <div class="">
                                        <input type="file" asp-for="MainImage" class="form-control m-2" id="mainImage">
                                    </div>
                                </div>
                                <span class="text-danger" asp-validation-for="MainImage"></span>                            
                        </div>

                        <div class="col-md-6 mb-md-0 mb-4">
                            <img id="mainImgAvatar" class=" ImageBox" src="@(_config.GetSection("FileManagerUrl").Value+$"/api/fileManager/getimage?imageName={Model.News.MainImageName}&&folder=news")" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <label for="exampleInputFile">تصاویر جانبی</label>

                                <div class="input-group">
                                    <div class="custom-file m-1">
                                        <input type="file" class="custom-file-input" name="image" id="mainImage">
                                        <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                    </div>


                                    <div class="custom-file m-1">
                                        <input type="file" class="custom-file-input" name="image" id="mainImage">
                                        <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <input type="submit" class="btn-warning btn" value="ویرایش خبر" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</form>

@section Scripts {

    <script>
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            ClassicEditor
                .create(document.querySelector('#editor1'))
                .then(function (editor) {
                    // The editor instance
                })
                .catch(function (error) {
                    console.error(error)
                })

            // bootstrap WYSIHTML5 - text editor

            $('.textarea').wysihtml5({
                toolbar: { fa: true }
            })
        })
    </script>

    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#mainImgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#mainImage").change(function () {
            readURL(this);
        });
    </script>
}