@page
@using Cms.Clients.AdminPanel.Pages.News
@using Cms.Clients.AdminPanel.Tools
@inject IConfiguration _config;
@model IndexModel
@{
    ViewBag.Title = "لیست اخبار";
    ViewBag.Page = "اخبار";
}



    <div class="col-12">
        <div class="card">
            <div class="row">
            <div class="card-body">
                <div class="col-sm-12 col-md-12 p-3 text-center">
                    <form method="get">
                        <input name="searchText" type="text" value="@HttpContext.Request.Query["searchText"].ToString()" placeholder="خبر مورد نظر خود را جستحو کنید" class="form-control col-md-5 m-3 d-inline float-right" />
                        <div class="form-group d-inline">
                            <label class="m-3">نوع خبر : </label>
                            <select name="typeId" class="form-control d-inline col-md-2 m-3">
                                <option selected value="0">همه خبر ها</option>
                                @foreach (var type in Model.NewsTypes)
                                {
                                    if (HttpContext.Request.Query["typeId"] == type.Id)
                                    {
                                        <option selected value="@type.Id">@type.Title</option>
                                    }
                                    else
                                    {
                                        <option value="@type.Id">@type.Title</option>
                                    }
                                }
                            </select>
                        </div>
                        <input type="submit" value="جستجو" class="btn btn-success float-left d-inline m-3" />
                    </form>
                </div>
            </div>
            </div>
            <!-- /.card-header -->
            <div class="row">
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>نویسنده</th>
                            <th>تاریخ انتشار</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var news in Model.NewsList.QueryResult.ToList())
                        {
                            <tr id="news[@news.Id]">
                                <td><a href="/news/details/@news.Id">@news.Title</a></td>
                                <td>
                                    @news.Author
                                </td>
                                <td>@news.PublishDate</td>
                                <td>
                                    <a href="/news/gallery?id=@news.Id&&pageName=news" class="btn btn-primary text-white">گالری و پیوست ها</a>
                                    <a href="/news/edit?id=@news.Id&&pageName=News" class="text-white btn btn-primary">ویرایش</a>
                                    @if (news.IsEnable)
                                    {
                                        <a href="/News/ChangeAvailability?id=@news.Id" class="text-white btn btn-danger">غیرفعال کردن</a>
                                    }
                                    else
                                    {
                                        <a href="/News/ChangeAvailability?id=@news.Id" class="text-white btn btn-success">فعال کردن</a>

                                    }
                                    <a onclick="Delete(@news.Id)" class="text-white btn btn-danger">حذف</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->


@section Scripts {
    <script>
        function Delete(id) {

            if (confirm("آیا از حذف این خبر مطمئن هستید? ")) {
                $.ajax({
                    type: "Get",
                    url: '@_config.GetSection("DomainAddress").Value/News/Delete?id=' + id,
                    success: function () {
                        document.getElementById("news[" + id + "]").setAttribute("style", "display:none");
                    },
                    error: function () {
                        alert("خطایی رخ داده است!");
                    }
                });
            }
        }
    </script>
}
