@page
@model Cms.Endpoints.AdminPanel.Pages.Users.SiteUserModel
@using Cms.Endpoints.AdminPanel.Pages.Common

@{
    ViewData["Title"] = "کاربران سایت - لیست";
}
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
    <link rel="stylesheet" href="~/vendor/libs/animate-css/animate.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
    <script src="~/vendor/libs/plyr/plyr.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
}

@section PageScripts {
    <script src="~/js/app-user-list.dist.js"></script>
    <script src="~/js/extended-ui-sweetalert2.dist.js"></script>
    <script src="~/js/delete-model.js"></script>
}

<h4 class="py-3 mb-0">
    <span class="text-muted fw-light">کاربران / </span><span class="fw-medium">لیست کاربران سایت</span>
</h4>

<!-- Users List Table -->
<div class="card ">


    <div class="card-datatable table-responsive">


        <table class=" table">
            <thead class="border-top">
                <tr>
                    <th>نام کاربر</th>
                    <th>نقش کاربری</th>
                    <th>شماره موبایل</th>
                    <th>وضعیت</th>
                    <th>آخرین ورود</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users.QueryResult)
                {
                    <tr>
                        <td class="m-3" style="display: none;" tabindex="0"></td>
                        <td>@(user.FirstName + " " + user.LastName)</td>
                        <td>کاربر سایت</td>
                        <td>@user.PhoneNumber</td>
                        <td>
                            @if (!user.IsBlocked)
                            {
                                <span class="badge bg-label-success" text-capitalized="">مجاز</span>
                            }
                            else
                            {
                                <span class="badge bg-label-danger" text-capitalized="">مسدود</span>
                            }
                        </td>
                        @if (user.LastLoginDate.HasValue)
                        {
                            <td>@user.LastLoginDate.Value.ToShamsi()</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>    

    @* <nav aria-label="Page navigation" class="d-flex align-items-center justify-content-center">
    @{
    int currentPageNumber = 1;
    bool success = int.TryParse(HttpContext.Request.Query["pageNumber"].ToString(), out currentPageNumber);
    if (!success) currentPageNumber = 1;
    string searchText = HttpContext.Request.Query["searchText"].ToString();
    string role = HttpContext.Request.Query["role"].ToString();
    int statusId = 1;
    success = int.TryParse(HttpContext.Request.Query["statusId"].ToString(), out statusId);
    if (!success) statusId = 0;
    }
    <ul class="pagination">
    <li class="page-item prev">
    <a class="page-link" asp-page="list" asp-route-searchText="@searchText" asp-route-role="@role" asp-route-statusId="@statusId" asp-route-pageNumber="@((currentPageNumber>1)?$"{currentPageNumber-1}":$"{currentPageNumber}")"><i class="ti ti-chevron-left ti-xs scaleX-n1-rtl"></i></a>
    </li>
    @for (int i = 1; i <= Model.Users.calculatePageCount(); i++)
    {
    @if (HttpContext.Request.Query["pageNumber"].ToString() == "" && i == 1)
    {
    <li class="page-item active">
    <a class="page-link" asp-page="list" asp-route-pageNumber="@i">1</a>
    </li>

    continue;
    }
    <li class="page-item @((HttpContext.Request.Query["pageNumber"].ToString()==i.ToString())?"active":"")">
    <a class="page-link" asp-page="list" asp-route-pageNumber="@i">@i</a>
    </li>
    }
    <li class="page-item next">
    <a class="page-link" asp-page="list" asp-route-searchText="@searchText" asp-route-role="@role" asp-route-statusId="@statusId" asp-route-pageNumber="@((Model.Users.calculatePageCount()>currentPageNumber)?$"{currentPageNumber+1}":$"{currentPageNumber}")"><i class="ti ti-chevron-right ti-xs scaleX-n1-rtl"></i></a>
    </li>
    </ul>
    </nav> *@

</div>
