@page
@inject IConfiguration _config;
@model Cms.Endpoints.AdminPanel.Pages.Setting.GetAllInfoModel
@{
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
    <link rel="stylesheet" href="~/vendor/libs/animate-css/animate.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
}

@section PageScripts {
    <script src="~/js/pages-account-settings-account.dist.js"></script>
    <script src="~/js/extended-ui-sweetalert2.dist.js"></script>
    <script src="~/js/delete-model.js"></script>
}

@* ************** Content ************** *@
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">تنظیمات /</span> مشاهده اطلاعات
</h4>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-4">
            <li class="nav-item"><a class="nav-link active" href="#"><i class="ti-xs ti ti-settings me-1"></i> اطلاعات</a></li>
            <li class="nav-item"><a class="nav-link" href="/setting/links"><i class="ti-xs ti ti-link me-1"></i> پیوندها</a></li>
        </ul>

        @foreach (var info in Model.InfoList.QueryResult)
        {
            <div class="card mb-4">
                <h5 class="card-header">اطلاعات</h5>
                <!-- Account -->
                <hr class="my-0">
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            <label for="firstName" class="form-label">آدرس</label>
                            <textarea disabled class="form-control">@info.Address</textarea>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">ساعت کاری</label>
                            <input disabled class="form-control" type="text" value="@info.WorkTime" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">ایمیل</label>
                            <input disabled class="form-control" type="text" value="@info.EmailAddress" placeholder="john.doe&#64;example.com" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">شماره تلفن</label>
                            <input disabled type="text" class="form-control" id="organization" name="organization" value="@info.PhoneNumber" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">آدرس اینستاگرام</label>
                            <input disabled type="text" class="form-control" id="organization" name="organization" value="@info.InstagramAddress" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">آدرس ایتا</label>
                            <input disabled type="text" class="form-control" id="organization" name="organization" value="@info.EitaaAddress" />
                        </div>
                    </div>
                    <div class="mt-2">
                        @{
                            string domain = @_config.GetSection("DomainAddress").Value.ToString();
                        }
                        <a href="/setting/UpdateInfo/@info.Id" class="btn btn-primary me-2">ویرایش اطلاعات</a>
                        <a href="#" onclick="deleteItem('@domain/setting/DeleteInfo/@info.Id','@domain/setting/infolist')" class="btn btn-secondary me-2">حذف</a>
                    </div>
                </div>
            </div>
        }

        <!-- /Account -->
        <div class="mt-2">
            <a href="/Setting/addinfo"  class="btn btn-primary me-2">افزودن اطلاعات جدید</a>
            <a href="/" class="btn btn-label-secondary">بازگشت</a>
        </div>
    </div>
</div>
