@page
@inject IConfiguration _config;
@model Cms.Clients.AdminPanel.Pages.Activity.IndexModel
@{
    ViewBag.Title = "لیست برنامه ها و فعالیت ها";
    ViewBag.Page = "فعالیت ها";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="row">
                <div class="card-body">
                    <div class="col-sm-12 col-md-12 p-3 text-center">
                        <form method="get">
                            <input name="searchText" type="text" value="@HttpContext.Request.Query["searchText"].ToString()" placeholder="خبر مورد نظر خود را جستحو کنید" class="form-control col-md-5 m-3 d-inline float-right" />
                            <div class="form-group d-inline">
                                <label class="m-3">مرتب سازی بر اساس : </label>
                                <select name="orderById" class="form-control d-inline col-md-2 m-3">
                                    <option selected value="0">همه</option>
                                    <option selected value="1">عنوان</option>
                                </select>
                            </div>
                            <input type="submit" value="جستجو" class="btn btn-success float-left d-inline m-3" />
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>زبان</th>
                            <th>وضعیت</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var activity in Model.ActivityList)
                        {
                            <tr id="activity[@activity.Id]">
                                @if (activity.Text.Length <= 40)
                                {
                                    <td>
                                        <a href="/activity/details/@activity.Id">@Html.Raw(activity.Text)</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a href="/activity/details/@activity.Id">
                                            @Html.Raw(activity.Text.Substring(0, 39))....
                                        </a>
                                    </td>
                                }
                                <td>
                                    @Model.Languages.FirstOrDefault(t => t.Id == activity.LanguageId).Name
                                </td>
                                @if (activity.IsEnable)
                                {
                                    <td>
                                        <span>فعال</span>
                                        <i class="fa fa-check"></i>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span>غیرفعال</span>
                                        <i class="fa fa-close"></i>
                                    </td>
                                }
                                <td>
                                    <a href="/news/gallery?id=@activity.Id&&pageName=activity" class="btn btn-primary text-white">گالری و پیوست ها</a>
                                    <a href="/activity/edit?id=@activity.Id" class="text-white btn btn-primary">ویرایش</a>
                                    @if (activity.IsEnable)
                                    {
                                        <a href="/Activity/ChangeAvailibility?id=@activity.Id" class="text-white btn btn-danger">غیرفعال کردن</a>
                                    }
                                    else
                                    {
                                        <a href="/Activity/ChangeAvailibility?id=@activity.Id" class="text-white btn btn-success">فعال کردن</a>

                                    }
                                    <a onclick="Delete(@activity.Id)" class="text-white btn btn-danger">حذف</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


@section Scripts {
    <script>
        function Delete(id) {

            if (confirm("آیا از حذف این فعالیت مطمئن هستید? ")) {
                $.ajax({
                    type: "Get",
                    url: '@_config.GetSection("DomainAddress").Value/News/Delete?id=' + id,
                    success: function () {
                        document.getElementById("activity[" + id + "]").setAttribute("style", "display:none");
                    },
                    error: function () {
                        alert("خطایی رخ داده است!");
                    }
                });
            }
        }
    </script>
}